# shellcheck shell=sh
# https://direnv.net/man/direnv-stdlib.1.html
PATH_add bin
# shellcheck disable=SC2155
export PROJECT="$(pwd)"
# shellcheck disable=SC2155
export PROJECT="$(pwd)"
export ANSIBLE_SRC="${PROJECT}/src/ansible"
export ANSIBLE_CONFIG="${ANSIBLE_SRC}/ansible.cfg"
